<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= AppConfig.site_name %><% if @title.present? %> - <%= @title %><% end %></title>
    <meta name="author" content="Mike Judge of RubyMinds" />
    <% if false %>
      <meta name="description" content="<%= raise "Unimplemented" %>"/>
      <link rel="shortcut icon" href="favicon.ico" />
    <% end %>
    <%= stylesheet_link_tag "blueprint_complete_071" %>
    <!--[if IE 7]>
      <%= stylesheet_link_tag "blueprint_complete_ie_071" %>
    <![endif]-->
    <!--[if IE 6]>
      <%= stylesheet_link_tag "blueprint_complete_ie_071" %>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
  </head>
<body>
  <div class="container <%= controller.controller_name %>_controller <%= controller.action_name %>_action">
    <%= yield %>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-5579720-3");
      pageTracker._trackPageview();
    } catch(err) {}</script>
  </script> 
</body>
</html>
